<%- include header%>
<p>
<span><a href="/edit/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">Edit</a></span>
<span><a href="/remove/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">Delete</a></span>
</p>
<p>
Author: <a href="/u/<%=post.name%>"><%=post.name%></a> | 
Date: <%=post.time.minute%>
</p>
<p><%- post.post%></p>
<%- include comments%>
<%- include footer%>