<%- include header%>
<p>
<% if (user && (user.name == post.name)) {%>
<span><a href="/edit/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">Edit</a></span>
<span><a href="/remove/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">Delete</a></span>
<% } %>
</p>
<p>
Author: <a href="/u/<%=post.name%>"><%=post.name%></a> | 
Date: <%=post.time.minute%>
tags: 
<%post.tags.forEach(function(tag,index){%>
<% if (tag) {%>
<a href="/tags/<%=tag%>"><%=tag%></a>
<%}%>
<%})%>
</p>
<p><%- post.post%></p>
<%- include comments%>
<%- include footer%>